*{
    box-sizing: inherit;
}

div {
    display: block;
}

p {
    display: block;
    margin: -10px;
    background-color: hsla(16, 21%, 11%, 0.78);
    color: whitesmoke;
    height: 40px;
    padding: 10px;
    padding-bottom: 50px;
    padding-left: 20px;

}

element.style {
}
*[_ngcontent-yaf-c18] {
    box-sizing: inherit;
}

span {
    font-weight: bold;
    color:yellow;
    text-decoration-line:  yellow;
}


BpkLink_bpk-link__31i8o{
    text-decoration-line: underline;
    text-decoration-color: yellow;
}

