<div id="cuba-banner-root">
    <div>
        <section class="EmergencyBanner_EmergencyBanner__Fbt8p">
            <div class="EmergencyBanner_EmergencyBanner__wrapper__2AAB7">
                <div class="EmergencyBanner_EmergencyBanner__text__2B7m6">
                    <p class="BpkText_bpk-text__2sQCO BpkText_bpk-text--sm__3KvAg">COVID-19 (Coronavirus) may impact
                        your travel plans. Wherever you're going, you'll <a class="BpkLink_bpk-link__31i8o"
                            href="https://www.mayoclinic.org/diseases-conditions/coronavirus/in-depth/coronavirus-safe-travel-advice/art-20486965" target="_blank"><span
                                class="BpkText_bpk-text__2sQCO BpkText_bpk-text--sm__3KvAg EmergencyBanner_EmergencyBanner__link__3SAb3">find
                                the latest advice here.</span></a></p>
                </div>
                <div class="EmergencyBanner_EmergencyBanner__btn__j-lVi"></div>
            </div>
        </section>
    </div>
</div>