<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/About-Us1.jpg" width="100%" height="300px">
       <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
          <div class="container">
              <br>
              <br>
              <br>
              
            <div class="carousel-caption text-left">
                                <p>
                    FlyAway is India’s leading online travel booking brand providing range of choice for flights for travelers. Our core value differentiator is the most trusted user experience, be it in terms of quickest search and booking, fastest payments, settlement or refund processes. With industry first virtual travel booking social network,less fair and Rewards – <strong>FlyAway</strong> is the number one choice for new India on the move.
                </p>
                              <p><a class="btn btn-lg btn-primary" routerLink="/register" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        
     
    </div>
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <br>
         
            <div class="row">
          <div class="col-lg-4">
              <img src="../../assets/lowest_price.jpg" height="150px" width="200px">
            <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
            <h2>Our Mission</h2>
            <p>To sell the cheapest airline tickets in an increasingly competitive market</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
              <img src="../../assets/rewards.png" height="150px" width="200px">
            <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
            <h2>Rewards</h2>
            <p>Book More & Get Free Flights & Hotel Stay</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="../../assets/safe_secure.png" height="150px" width="200px">
            <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
            <h2>Safe Booking</h2>
            <p>All Flight bookings are 100% Safe & Secure</p>
            
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
        </div>
  