p {
    color: black;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.btn-primary {
    color: #fff;
    background-color:#009688;
    border-color: #795548;
    font-size: medium;
}