<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="../../assets/logo.png" alt=""/>
            <h3>Welcome</h3>
            <!-- <p>You are 30 seconds away from earning your own money!</p> -->
           
            <input type="submit" routerLink="/auth/Login"name="" value="Login"/><br/>
        </div>
        <div class="col-md-9 register-right">
           
            <div class="tab-content" id="myTabContent">
                <!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"> -->
                    <h3 class="register-heading">Register</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="user.firstName"placeholder="First Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="user.lastName" placeholder="Last Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="Email Id" class="form-control"  [(ngModel)]="user.email" placeholder="Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="Username" class="form-control"  [(ngModel)]="user.username" placeholder="Username *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" name="txtPhone" class="form-control" [(ngModel)]="user.phone" placeholder="Your Phone *" value="" />
                            </div>
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline"> 
                                        <input type="radio" [(ngModel)]="user.gender" name="gender" value="male" checked>
                                        <span> Male </span> 
                                    </label>
                                    <label class="radio inline"> 
                                        <input type="radio" name="gender" value="female">
                                        <span>Female </span> 
                                    </label>
                                </div>
                                <button (click)="registerUser()" class="btnRegister"  value="Register">Register</button>
                            </div>
                                </div>
                            </div>
                        </div>
                      
            </div>
        </div>
    </div>
