
body {
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    color: #514B64;
    min-height: 100vh;
  }
  
  code {
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.4rem;
    margin: 0 0.3rem;
  }

.bg-dark {
  background-color: #eca640f7!important;
  height: 70px;
  
}


.navbar-dark .navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  
}