footer{
    background-color: black;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    height: 15%;
    margin: 0px;
}

.header-font {
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fd1506;
  }
  .fa-facebook{
      color:#3b5998;
  }
  .fa-linkedin{
      color:#0077B5;
  }
  .fa-twitter{
      color:#4099FF;
  }
  .fa-google{
      color:#d34836;
  }
  .bg-primary {
   background-color: #000 !important;
  }
  
  .bg-circle
  {
    display: inline-block;
    /* width: 60px;
    height: 60px; */
    padding: 14px 4px;
    color: #ececec;
    text-align: center;
    border-radius: 50%;
  }
  
  .bg-circle-outline
  {
    width: 50px;
    height: 50px;
    color:smoke;
    padding: 8px 2px;
    border: 2px solid;
    border-color: smoke;
    border-radius: 50%;
  }
  
  
  .bg-circle a, a:hover, .media a:focus
  {
    text-decoration: none !important;
    outline: none;
    color: #ececec;
  }
  .bg-circle-outline a, a:hover, .media a:focus
  {
    text-decoration: none !important;
    outline: none;
    color: #ececec;
  }
  .footer {
      background: #EDEFF1;
      /* height: 100px; */
      padding-bottom: 30px;
      position: relative;
      width: 100%;
      border-bottom: 1px solid #CCCCCC;
      border-top: 1px solid #DDDDDD;
  }
  .footer p {
      margin: 0;
  }
  /* .footer img {
      max-width: 100%;
  } */
  .footer h3 {
      border-bottom: 1px solid #BAC1C8;
      color: #54697E;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      padding: 40px 0 10px;
      text-transform: uppercase;
  }
  .footer ul {
      font-size: 13px;
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      margin-top: 15px;
      color: #7F8C8D;
  }
  .footer ul li a {
      padding: 0 0 5px 0;
      display: block;
  }
  .footer a {
      color: #78828D
  }
  .text-center {
    text-align: center!important;
    color: black;
    background-color: #009688;
    font-weight: bold;
    margin: 0px;
}
/* .text-center[_ngcontent-xqb-c22] {
    text-align: center!important;
    color: black;
    background-color: #009688;
    font-weight: bold;
    margin: 0px;
} */